.container-fluid {
    border: 3px solid black;
    padding: 0px;
    margin: 0px;

}

.row {
    padding: 0px;
    margin: 5px 0px;
}


.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    letter-spacing: 0.04em;
    color: #000000;
    text-align: center;
    /* padding: 10px 5px; */
}

.subheading {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 140% */
    color: #000000;
}

.btn-facebook,
.btn-google {
    display: inline-block;
    border: 1px solid #BDBDBD;
    border-radius: 0px;
    width: 40%;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

}

/* .login-via {
    padding: 10px 5px;
    margin-top: 10px;
} */



.btn-register {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 117% */
    border-radius: 0px;
    letter-spacing: 0.04em;

    /* Color - Text Primary */

    color: #000000;
    /* Color - Yellow */

    background: #FFDF05;
    /* Color - Text Primary */

    border: 3px solid #000000;
    width: 85%;
    /* padding: 10px;
    margin-bottom: 20px; */
}

.text-login {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 140% */
    color: #000000;


}

/* .text-login {
    margin-bottom: 15px;
    margin-top: 15px;
} */




.text-or {
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height, or 130% */


    color: #000000;
    margin-bottom: 20px;
    /* margin-top: 10px; */
}

.input-group {
    width: 90%;
    /* margin-bottom: 10px; */
    border-radius: 0px;
/* border: 1px solid #BDBDBD; */
}